---
import GitHubIcon from "./icons/Github.astro"
import NextJSIcon from "./icons/NextJS.astro"
import TailwindIcon from "./icons/Tailwind.astro"
import LinkButton from "./LinkButton.astro"
import PythonIcon from "./icons/Python.astro"
import JQUERYIcon from "./icons/Jquery.astro"
import DjangoIcon from "./icons/Django.astro"
import AstroIcon from "./icons/AstroIcon.astro"
import PHPIcon from "./icons/Php.astro"
import BulmaIcon from "./icons/Bulma.astro"
import BootstrapIcon from "./icons/Bootstrap.astro"
import JSIcon from "./icons/Javascript.astro"
import Carousel from './Carusel.astro';

const TAGS = {
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#003159] text-white",
    icon: BootstrapIcon,
  },PHP: {
    name: "PHP",
    class: "bg-[#003159] text-white",
    icon: PHPIcon,
  },
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJSIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  PYTHON:{
    name: "Python",
    class: "bg-[#003159] text-white",
    icon: PythonIcon
  },
  JQUERY:{
    name: "Jquery",
    class: "bg-[#003159] text-white",
    icon: JQUERYIcon
  },
  DJANGO:{
    name: "Django",
    class: "bg-[#003159] text-white",
    icon: DjangoIcon
  },
  ASTRO:{
    name:"Astro",
    class: "bg-[#003159] text-white",
    icon: AstroIcon
  },
  BUlMA:{
    name:"Bulma",
    class: "bg-[#003159] text-white",
    icon: BulmaIcon
  },
  JS: {
  name: "Javascript",
  class: "bg-[#003159] text-white",
  icon: JSIcon,
  },
}
const PROJECTS = [
  {
    title: "Sistema Emergencia- Municipalidad",
    description:
      "sistema para gestionar accidentes en melipilla",
    image: "projects/emergencias.webp",
    link:'https://emergencias.melipilla.cl/',
    tags: [TAGS.JS, TAGS.PHP , TAGS.BOOTSTRAP, TAGS.JQUERY],
  },{
    title: "promptManager",
    description:
      "Programa hecho para solucionar un problema con Stable Diffusion y es el guardar prompts, debido a no tener una forma de editarlo dentro del entorno web. Desarrollé esta herramienta que permite guardarlos en CSV y editar tus mejores prompts.",
    github: "https://github.com/NelsonNV/promptManager",
    image: "projects/promtmanager.webp",
    tags: [TAGS.PYTHON],
  },
  {
    title: "ScanPC",
    description:
      "Herramienta desarrollada para obtener los datos del equipo tanto en red como en componentes, inspirada en el programa creado para la municipalidad. Buscando generar una estructura totalmente distinta, siendo capaz de generar un informe en formato Markdown.",
    // link: "https://adventjs.dev",
    image: "projects/ScanPC.webp",
    github: "https://github.com/NelsonNV/ScanPC",
    tags: [TAGS.PYTHON],
  },
  {
    title: "TPAP - Toeic Practice Advantage Program",
    description:
      "Proyecto elaborado con Django para resolver el problema del Duoc UC, De que los alumnos no tenían donde practicar o enseñar para los exámenes TOEIC y buscar mejorar su inglés, se desarrolló como proyecto de capstone o titulación, Con el jefe de inglés Rexon Basaure como cliente.",
    link: '',
    image: ["projects/TPAP.webp", "projects/TPAP2.webp","projects/TPAP3.webp","projects/TPAP4.webp"],
    // github: "https://github.com/NelsonNV/TPAP",
    tags: [TAGS.PYTHON, TAGS.DJANGO, TAGS.JQUERY, ],
  },
  {
    title: "IpInfo",
    description:
      "Una herramienta de búsqueda de IP que, al iniciar, no solo te muestra tu IP pública, sino que también te permite consultar y visualizar los datos asociados a cualquier dirección IP pública. Se desarrolló en Astro para probar lo aprendido y, a su vez, actualizar un proyecto anteriormente abandonado.",
    image: "projects/IpInfo.webp",
    github: "https://github.com/NelsonNV/IpInfo",
    link:'https://ipinfo-wrnp.onrender.com/',
    tags: [TAGS.ASTRO, TAGS.TAILWIND ],
  },
  {
  title: "MiCartera",
    description:
    "Una Herramienta que Ayuda a gestionar gastos y ingresos",
    image: "projects/MiCartera.webp",
    github: "https://github.com/NelsonNV/MiCartera",
    link: "https://micartera.onrender.com/",
    tags: [TAGS.DJANGO,TAGS.PYTHON,TAGS.BUlMA]
  },
]
---

<section class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="">
        <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
          {title}
        </h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul class="flex gap-x-2 flex-row mb-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
       {Array.isArray(image) ? (
          <Carousel images={image} />
        ) : (
          <img
            loading="lazy"
            class="rounded shadow-2xl shadow-white/10 aspect-video"
            src={image}
            alt={`Captura de pantalla del proyecto ${image}`}
          />
        )}
        <footer class="flex gap-x-4 items-end justify-start mt-4">
          {github && (
            <LinkButton href={github}>
              <GitHubIcon class="size-6" />
              Ver código fuente
            </LinkButton>
          )}
          {link && (<LinkButton href={link}>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <>
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M19.5 7a9 9 0 0 0 -7.5 -4a8.991 8.991 0 0 0 -7.484 4" />
                <path d="M11.5 3a16.989 16.989 0 0 0 -1.826 4" />
                <path d="M12.5 3a16.989 16.989 0 0 1 1.828 4" />
                <path d="M19.5 17a9 9 0 0 1 -7.5 4a8.991 8.991 0 0 1 -7.484 -4" />
                <path d="M11.5 21a16.989 16.989 0 0 1 -1.826 -4" />
                <path d="M12.5 21a16.989 16.989 0 0 0 1.828 -4" />
                <path d="M2 10l1 4l1.5 -4l1.5 4l1 -4" />
                <path d="M17 10l1 4l1.5 -4l1.5 4l1 -4" />
                <path d="M9.5 10l1 4l1.5 -4l1.5 4l1 -4" />
              </>
            </svg>
            Ir al sitio web
          </LinkButton>)}
        </footer>
      </article>
    ))
  }
</section>
